# 1. Python Basic

In [1]:
print("Hello World")

Hello World

In [2]:
print(Hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3449611317.py, line 1)

In [3]:
alphabet=26  a-z

SyntaxError: invalid syntax (556998635.py, line 1)

In [4]:
''
""

''

In [5]:
print("Adnan")
print('Hello Python')

Adnan
Hello Python

In [6]:
'a'

'a'

In [7]:
"Hello World"

'Hello World'

In [8]:
'Hello world'

'Hello world'

In [11]:
print("What's your name?")

What's your name?

In [16]:
print("What's your name?")

What's your name?

In [17]:
print('What"s your name?')

What"s your name?

In [21]:
print("Hello world")
print("Hello Python")
print("321")   # string

Hello world
Hello Python
321

In [22]:
print(321)  # integer

321

In [23]:
print("321")
print(321)

321
321

In [25]:
"321"+"1"

'3211'

In [27]:
"Adnan"+ " Shaikh"

'Adnan Shaikh'

In [28]:
321+1

322

In [29]:
'321'+'1'

'3211'

In [30]:
print('3214')

3214

# Data Types

In [31]:
# 1. String  2. List  3. Tuple 4. Set  5. Dictionary

# String
print("Hello World")
print("Good! Morning")
print("3258")

# Integer

print(325)
print(100)
print(123)

# Boolean
print(True)
print(False)

Hello World
Good! Morning
3258
325
100
123
True
False

# type() function

In [44]:
# string
print("Hello World")
print(type("Hello World"))

print("321")
print(type("321"))

print("!@#$%")
print(type("!@#$%"))


# Integer
print(100)
print(type(100))
print(123456)
print(type(123456))

# float
print(3.14)
print(type(3.14))
print(100.0)
print(type(100.0))


# Boolean
print('True')
print(type('True'))
print(True)
print(type(True))

Hello World
<class 'str'>
321
<class 'str'>
!@#$%
<class 'str'>
100
<class 'int'>
123456
<class 'int'>
3.14
<class 'float'>
100.0
<class 'float'>
True
<class 'str'>
True
<class 'bool'>

In [48]:
# Boolean
print('True')
print(type('True'))
print(True)
print(type(True))


print(bool(1))
print(bool(0))

True
<class 'str'>
True
<class 'bool'>
True
False

In [49]:
print(True+False)

1

In [50]:
print("True"+"False")

TrueFalse

In [51]:
True

True

In [52]:
'true'

'true'

In [55]:
print(-142)
print(type(-142))
print(-142.20)
print(type(-142.20))

-142
<class 'int'>
-142.2
<class 'float'>

In [57]:
import sys

print(sys.version)

3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)]

# Converting an obejct type to another data type

In [86]:
x=6
print(x)
print(type(x))

print(float(x))
print(type(float(x)))

print(str(x))
print(type(str(x)))

6
<class 'int'>
6.0
<class 'float'>
6
<class 'str'>

In [93]:
number=3.14
print(number)
print(type(number))

print(int(number))
print(type(int(number)))

print(str(number))
print(type(str(number)))

3.14
<class 'float'>
3
<class 'int'>
3.14
<class 'str'>

In [97]:
# Boolean

x1=True
y1=False

print(int(x1))

print(int(y1))


print(float(x1))

print(float(y1))

1
0
1.0
0.0

# Expression and variables

In [98]:
x=85+65+95+78-45*2
x

233

In [99]:
# Substraction

x2= +85-52-21-8
x2

4

In [100]:
# multiply

x3= 8*74

x3

592

In [102]:
# Division

x4= 125/4   # float division
print(x4)
print(type(x4))

31.25
<class 'float'>

In [104]:
x4= 125//4    #floor  #int division
print(x4)
print(type(x4))

31
<class 'int'>

In [105]:
# Modulus

x5=125%2

x5

1

In [106]:
x6=140%2
x6

0

In [108]:
x7=14523369%3
x7

0

In [111]:
# Exponent

x8=2**4
x8

16

In [113]:
# An Example

# Let's calculate how many minutes there are in 20 hrs?
one_hour= 60   # min
hour= 20
minutes= hour*one_hour
print(minutes,"minutes")

1200 minutes

In [120]:
# An example: Let's calculte how many hours thtere are in 360 minutes?  #8.66

minutes= 360
one_hour= 60  # minutes

hours= minutes/one_hour
print(hours,"hours")

6.0 hours