# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a lsit, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment, i, or else the loop will continue forever.__
 * __This while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which is set to .__

# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a sepcified number of times, we can sue the range() functions.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by defualt), and ends at a specified number.__

In [2]:
print(range(10))
print(range(5))

range(0, 10)
range(0, 5)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for aditi in range(10):
    print(aditi,end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for rupali in range(50):
    print(rupali,end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [10]:
list=[10,20,30,40,50,60,70,80,90]

for i in list:
    print(i,end=' ')

10 20 30 40 50 60 70 80 90

In [12]:
dict={"a":"rupali","name":"Happy Happy"}

for i in dict:
    print(i)

a
name

In [15]:
a={1,2,3,4,5,6,7,8,9,99,9,9,9,9,9,9}

for i in a:
    print(i,end=',')

1,2,3,4,5,6,7,8,9,99,

In [21]:
# len= 
fruits=["Apple","Banana","Carrot","Bits","Kiwi","StrawBerry","Mango","Orange","Grapes","Watermelon","Muskmelon"]

for i in range(len(fruits)):
    print(i,fruits[i])

0 Apple
1 Banana
2 Carrot
3 Bits
4 Kiwi
5 StrawBerry
6 Mango
7 Orange
8 Grapes
9 Watermelon
10 Muskmelon

In [24]:
fruits=["Apple","Banana","Carrot","Bits","Kiwi","StrawBerry","Mango","Orange","Grapes","Watermelon","Muskmelon"]

for i in range(len(fruits)):
    print(i,fruits[i])

0 Apple
1 Banana
2 Carrot
3 Bits
4 Kiwi
5 StrawBerry
6 Mango
7 Orange
8 Grapes
9 Watermelon
10 Muskmelon

In [32]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [40]:
# 1,3,5,7-------------50

for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [46]:
list_languages=["Java","Python","Django","Flask","C","C++","PHP"]

for i in range(len(list_languages)):
    print(i,list_languages[i])
    list_languages[i]="rupali"
    print(i,list_languages[i])

0 Java
0 rupali
1 Python
1 rupali
2 Django
2 rupali
3 Flask
3 rupali
4 C
4 rupali
5 C++
5 rupali
6 PHP
6 rupali

In [47]:
list_languages=["Java","Python","Django","Flask","C","C++","PHP"]

for i in range(len(list_languages)):
    print(i,list_languages[i])

0 Java
1 Python
2 Django
3 Flask
4 C
5 C++
6 PHP

In [49]:
# enumerate   # range,len

for x,y in enumerate(list_languages):
    print(x,y)

0 Java
1 Python
2 Django
3 Flask
4 C
5 C++
6 PHP

In [51]:
list=["Ram","Shyam","Bharat","Love","Kush"]

for i in range(len(list)):
    print(i,list[i])

0 Ram
1 Shyam
2 Bharat
3 Love
4 Kush

In [55]:
#enumerate

for x,y in enumerate(list):
    print(x,y,end=",")

0 Ram,1 Shyam,2 Bharat,3 Love,4 Kush,

In [56]:
for i in range(-3,10):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [61]:
# 2*1=2
# 2*2=4

number=int(input("Enter a number:"))

for i in range(1,11):
    print("%dX%d=%d"%(number,i,number*i))

Enter a number: 40

40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [62]:
number=int(input("Enter a number:"))

for i in range(1,11):
    print(number,"X",i,"=",number*i)

Enter a number: 45

45 X 1 = 45
45 X 2 = 90
45 X 3 = 135
45 X 4 = 180
45 X 5 = 225
45 X 6 = 270
45 X 7 = 315
45 X 8 = 360
45 X 9 = 405
45 X 10 = 450

In [75]:
nlis=[10,20,30,40,50,60,70,80,90,100]

# find the total sum using for loop

#sum(nlis)
x=0
for i in nlis:
    x+=i
print("The total sum of the list is:",x,"\nAverage value of the list:",x/len(nlis))

The total sum of the list is: 550
Average value of the list: 55.0

In [67]:
# assignmen operator

i=10

i-=5
i

5

In [76]:
nlis=[10,20,30,40,50,60,70,80,90,100]

# find the total sum using for loop

#sum(nlis)
x=0
rupali=0


for i in nlis:
    x+=i
print("The total sum of the list is:",x,"\nAverage value of the list:",x/len(nlis))

The total sum of the list is: 550
Average value of the list: 55.0

In [93]:
nlis=[10,20,30,40,50,60,70,80,90,100]

# find the square of the list.

square_num=0
x=0
cube=0
for i in nlis:
    square_num=i**2
    x+=i
    cube=i**3
    print("\nSquare of the number is:",square_num,"\nSum of the value:",x,"\nCubic number of the list is:",cube)

Square of the number is: 100
Sum of the value: 10
Cubic number of the list is: 1000

Square of the number is: 400
Sum of the value: 30
Cubic number of the list is: 8000

Square of the number is: 900
Sum of the value: 60
Cubic number of the list is: 27000

Square of the number is: 1600
Sum of the value: 100
Cubic number of the list is: 64000

Square of the number is: 2500
Sum of the value: 150
Cubic number of the list is: 125000

Square of the number is: 3600
Sum of the value: 210
Cubic number of the list is: 216000

Square of the number is: 4900
Sum of the value: 280
Cubic number of the list is: 343000

Square of the number is: 6400
Sum of the value: 360
Cubic number of the list is: 512000

Square of the number is: 8100
Sum of the value: 450
Cubic number of the list is: 729000

Square of the number is: 10000
Sum of the value: 550
Cubic number of the list is: 1000000

In [96]:
# nested loop i.e for inside loop

num=int(input("Enter any number:"))

i,j=0,0

for i  in range(0,num):
    print()
    for j in range(0,i+1):
        print('+', end='')

Enter any number: 50

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++
+++++++++++
++++++++++++
+++++++++++++
++++++++++++++
+++++++++++++++
++++++++++++++++
+++++++++++++++++
++++++++++++++++++
+++++++++++++++++++
++++++++++++++++++++
+++++++++++++++++++++
++++++++++++++++++++++
+++++++++++++++++++++++
++++++++++++++++++++++++
+++++++++++++++++++++++++
++++++++++++++++++++++++++
+++++++++++++++++++++++++++
++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++

In [1]:
print(range(10))

range(0, 10)

In [3]:
print(range(50,100))

range(50, 100)

In [6]:
for i in range(50,101):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
for aditi in range(10):
    print(aditi,end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10):
    print(i,end='-')

0-1-2-3-4-5-6-7-8-9-

In [23]:
dict={"a":"rupali","name":"Happy Happy","other name":"Aditi"}

for i in dict:
    print(i)

a
name
other name

In [24]:
for i, j in dict.items():
    print(i,':',j)

a : rupali
name : Happy Happy
other name : Aditi

In [25]:
list=["Ram","Shyam","Bharat","Love","Kush"]

for i in range(len(list)):
    print(i,list[i])

0 Ram
1 Shyam
2 Bharat
3 Love
4 Kush

In [30]:
list1=["Apple","StrawBerry","Kiwi","Mango"]

for abc in range(len(list1)):
    print(abc,list1[abc])

0 Apple
1 StrawBerry
2 Kiwi
3 Mango

In [33]:
tup1=("Rupali","Gurav","Adit","Sahil",45,85,95)

for i in range(len(tup1)):
    print(i,tup1[i])

0 Rupali
1 Gurav
2 Adit
3 Sahil
4 45
5 85
6 95

In [37]:
set1={1,2,3,4,5,6,7,8,9,10,20,30,120,20,30,40,1,2,2,3,3,2,2}

for i in set1:
    print(i)

1
2
3
4
5
6
7
8
9
10
40
20
120
30

In [38]:
number=int(input("Enter a number:"))

for i in range(1,11):
    print(number,"X",i,"=",number*i)

Enter a number: 45

45 X 1 = 45
45 X 2 = 90
45 X 3 = 135
45 X 4 = 180
45 X 5 = 225
45 X 6 = 270
45 X 7 = 315
45 X 8 = 360
45 X 9 = 405
45 X 10 = 450

In [40]:
user1=int(input("Enter a number:"))

for i in range(1,11):
    print(user1*i)

Enter a number: 39

39
78
117
156
195
234
273
312
351
390

In [41]:
user1=int(input("Enter a number:"))

for i in range(1,11):
    print(f"%dx%d=%d"%(user1,i,user1*i))

Enter a number: 12

12x1=12
12x2=24
12x3=36
12x4=48
12x5=60
12x6=72
12x7=84
12x8=96
12x9=108
12x10=120

In [42]:
nlis=[10,20,30,40,50,60,70,80,90,100]

# find the total sum using for loop

#sum(nlis)
x=0
for i in nlis:
    x+=i
print("The total sum of the list is:",x,"\nAverage value of the list:",x/len(nlis))

The total sum of the list is: 550
Average value of the list: 55.0

In [43]:
x=10

x+=10
x

20

In [44]:
x=20
x-=5
x

15

In [46]:
x=[45,60,30,45,85,95]
sum1=0
for i in x:
    sum1+=i
print(sum1)

360

In [48]:
# 
list1=[50,51,52]
sum1=0
for i in list1:
    sum1+=i
print(sum1,sum1/len(list1))

153 51.0

In [7]:
nlis=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]

# find the total sum using for loop
total_sum=0

for x in nlis:
    total_sum+=x
print("Total sum of the list:",total_sum)
print("Total Average of the list:",total_sum/len(nlis))

Total sum of the list: 1200
Total Average of the list: 80.0

In [25]:
nlis=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,0,300,15,156,452]

# find the total sum using for loop
total_sum=0

for x in nlis:
    total_sum+=x
print("Total sum of the list:",total_sum,"\nTotal Average of the list:",total_sum/len(nlis),"\nMaximum of the list:",max(nlis),"\nMinimum of the lsit:",min(nlis))

x1=len(nlis)//2
print("Median:",nlis[x1])

Total sum of the list: 2123
Total Average of the list: 106.15
Maximum of the list: 452
Minimum of the lsit: 0
Median: 110

# break in for loop

In [29]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [32]:
for i in range(10,31):
    if i==21:
        break
    print(i)

10
11
12
13
14
15
16
17
18
19
20

# continue in for loop

In [33]:
for i in range(10,31):
    if i==21:
        continue
    print(i)

10
11
12
13
14
15
16
17
18
19
20
22
23
24
25
26
27
28
29
30

In [35]:
list1=[10,20,30,40,50,60,70,80,90,100]

for i in list1:
    if i==60:
        break
    print(i)

10
20
30
40
50

In [36]:
list1=[10,20,30,40,50,60,70,80,90,100]

for i in list1:
    if i==60:
        continue
    print(i)

10
20
30
40
50
70
80
90
100

In [41]:
list2=["Rajpure","Aditi","Sharma","WebAsha","Apple","Cat","Dog","Animal"]

for i in list2:
    if i=="WebAsha":
        break
    print(i)

Rajpure
Aditi
Sharma

In [42]:
list2=["Rajpure","Aditi","Sharma","WebAsha","Apple","Cat","Dog","Animal"]

for i in list2:
    if i=="WebAsha":
        continue
    print(i)

Rajpure
Aditi
Sharma
Apple
Cat
Dog
Animal

In [49]:
dict={"name":"rupali","year":"Happy Happy","name2":"Aditi",10:"Sahil"}

for i,j in dict.items():
    if i=="name2":
        break
    
    print(i,':',j)

name : rupali
year : Happy Happy

In [50]:
for i, j in dict.items():
    print(i,':',j)

name : rupali
year : Happy Happy
name2 : Aditi
10 : Sahil

In [53]:
for x,y in dict.items():
    if x=='year':
        continue
    print(x,':',y)

name : rupali
name2 : Aditi
10 : Sahil

In [56]:
list1=[10,20,30,40,50,60,70,80,90,100]
sum=0
for i in list1:
    sum+=i
print(sum)

550

In [58]:
list1=[10,20,30,40,50,60,70,80,90,100]
sum=0
for i in list1:
    x1=0
    x1+=i
    print(x1)

10
20
30
40
50
60
70
80
90
100

In [70]:
x5=[10,20,30]
sum5=0
for i in x5:
    
    sum5+=i
print(sum5)

60

In [71]:
sum5

60

In [72]:
sum5

60

In [78]:
aditi=0
for i in range(5):
    
    aditi+=i
    print(aditi)

0
1
3
6
10

In [79]:
aditi

10

In [3]:
# Print the sum of the current number and the previous number
# Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and
# previous number.
# Expected result: 0,1,3,5,7,9,11,13,15,17


previous_num = 0
for i in range(10):
    sum = previous_num + i
    print(f'Current number {i} Previous Number {previous_num} sum of both is {sum}')
    previous_num = i

Current number 0 Previous Number 0 sum of both is 0
Current number 1 Previous Number 0 sum of both is 1
Current number 2 Previous Number 1 sum of both is 3
Current number 3 Previous Number 2 sum of both is 5
Current number 4 Previous Number 3 sum of both is 7
Current number 5 Previous Number 4 sum of both is 9
Current number 6 Previous Number 5 sum of both is 11
Current number 7 Previous Number 6 sum of both is 13
Current number 8 Previous Number 7 sum of both is 15
Current number 9 Previous Number 8 sum of both is 17

In [6]:
# Write a python program to search a given number from a list?

list1=[4,5,6,7,8,91,00,20,30,10,50]

n=int(input('Enter any number:'))

for i in list1:
    if i==n:
        print("Number is exist.")
        break
else:
    print("Number is not exist.")

Enter any number: 7

Number is exist.

In [14]:
# 3. Create a new list from a two list using the following condition. Given a two list of
# numbers, write a program to create a new list such that the new list should contain odd numbers
# from the first list and even numbers from the second list.

l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

l3=[]
l4=[]

for i in l1:
    if i%2==0:
        l3.append(i)
for i in l2:
    if i%2!=0:
        l4.append(i)

print("Even number from 1st list:",l3)
print("Odd number from 2nd list:",l4)
print("Even number and odd number from two list:",l3+l4)

Even number from 1st list: [2, 4]
Odd number from 2nd list: [7, 9]
Even number and odd number from two list: [2, 4, 7, 9]

In [21]:
# 4. find  max,min, total, average, median.
lis1=[100.23,456,744,741,789,951,453,852,753,746,854,856,985]

print("Maximum value is:",max(lis1))
print("Minimum value is:",min(lis1))

sum=0
for i in lis1:
    sum+=i
print("Total:",sum)
print("Average:",sum/len(lis1))

m=len(lis1)//2
print("Median of the list:",lis1[m])

Maximum value is: 985
Minimum value is: 100.23
Total: 9280.23
Average: 713.8638461538461
Median of the list: 453

In [26]:
# Write a program to check if the given string is a palindrome or not you can take string from the user.

#5. Some palindrome words are: "madam","civic","anna","malayalam","pip","radar"
#WAP to check if the word is palindrome or not.

n=input("Enter your string:")

reverse_number=n[::-1]

if n==reverse_number:
    print("The given number is palindrom")

else:
    print("The given number is not palindrom")

Enter your string: 1002

The given number is not palindrom

In [40]:
# 6. WAP to count the number of even or odd number from series [1,2,3,4,5,67,50,100,2002,168,597,256,300], say 1 is an Odd number.
# num=[1,2,3,4,5,67,50,100,2002,168,597,256,300]

num=[1,2,3,4,5,67,50,100,2002,168,597,256,300]
l3=[]
l4=[]
for i in num:
    if i%2==0:
        print(i,': is even number')
        l3.append(i)
    else:
        print(i,': is Odd numebr.')
        l4.append(i)
print("Total even number:",len(l3))
print("Total odd number:",len(l4))

1 : is Odd numebr.
2 : is even number
3 : is Odd numebr.
4 : is even number
5 : is Odd numebr.
67 : is Odd numebr.
50 : is even number
100 : is even number
2002 : is even number
168 : is even number
597 : is Odd numebr.
256 : is even number
300 : is even number
Total even number: 8
Total odd number: 5

In [41]:
# 7.  Write a program to display all the prime number from 1 to 30.WAP to display all the prime numbers from 10-30.

def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
        return True
for num in range(1,31):
    if is_prime(num):
        print(num)

3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [50]:
for num in range(1,32):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31

In [58]:
# Write a program to display the factorial of any number with loop?WAP to display the factorial of any number with loop


fact=int(input("Enter any number:"))

x=1
for i in range(1,fact+1):
    x=i*x   #1, 2,   
print(x)

Enter any number: 5

120

In [60]:
# 9. Write a python program that accepts a string and calculates the number of digits and letters. Ex-abc123 Output= 3letters and 3numbers

# Rupali123=

word=input("Enter a string:")
digit=0
letter=0

for i in range(len(word)):
    if word[i].isnumeric()==True:
        digit+=1
    else:
        letter+=1
print("Your string is",word,"\nNo. of digit is:",digit,"\nNo. of letters is:",letter)

Enter a string: Pune123456789

Your string is Pune123456789
No. of digit is: 9
No. of letters is: 4