# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in the other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as condition is true.__
 * __Note: remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable,i, which we set to.__

# range() function
 * __It is helpful to tink of the range object as an ordered list.__
 * __To loop throught a set of code a sepcified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and icnrements by 1 (by default), and ends at a specified number.__

In [3]:
# Take a range() function

print(range(5))
print(range(0,10))

range(0, 5)
range(0, 10)

In [4]:
years=[2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [5]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [9]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010

In [10]:
for name in years:
    print(name)

2005
2006
2007
2008
2009
2010

In [14]:
# anothter method with range

for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [13]:
range(5)

range(0, 5)

In [15]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [21]:
for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [22]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [28]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [31]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [37]:
languages=['Java',"JavaScript","C","C++","PHP","Android","Kotlin"]

for i in range(len(languages)):
    print("Before Language:",i,'is',languages[i])
    languages[i]="Rupali"
    print("After Language:",i,'is',languages[i])

Before Language: 0 is Java
After Language: 0 is Rupali
Before Language: 1 is JavaScript
After Language: 1 is Rupali
Before Language: 2 is C
After Language: 2 is Rupali
Before Language: 3 is C++
After Language: 3 is Rupali
Before Language: 4 is PHP
After Language: 4 is Rupali
Before Language: 5 is Android
After Language: 5 is Rupali
Before Language: 6 is Kotlin
After Language: 6 is Rupali

In [38]:
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [52]:
num=int(input("Enter any number:"))

for i in range(1,11):
    print('%dX%d=%d'%(num,i,num*i))

Enter any number: 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

In [56]:
list1=[10,20,30,40,50,60,70,80,90,100]
sum1=0

for i in list1:
    sum1+=i
print("Sum of total number:",sum1)
print("Average of list1:",sum1/len(list1))

Sum of total number: 550
Average of list1: 55.0

# for-else statement

In [66]:
for i in range(1,6):
    print(i,end=',')
else:
    print("These are numbers between 1 to 5.")

1,2,3,4,5,These are numbers between 1 to 5.

# break in for loop

In [70]:
# Take a list

nlis=[1,2,3,4,5,6,7,8,9,10]

for i in nlis:
    if i==5:
        break
    print(i)

1
2
3
4

# Continue in for loop

In [71]:
nlis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
for i in nlis:
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10