# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in the other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as condition is true.__
 * __Note: remember to increment, i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable,i, which we set to.__

# range() function
 * __It is helpful to tink of the range object as an ordered list.__
 * __To loop throught a set of code a sepcified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and icnrements by 1 (by default), and ends at a specified number.__

In [3]:
# Take a range() function

print(range(5))
print(range(0,10))

range(0, 5)
range(0, 10)

In [4]:
years=[2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [5]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [9]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010

In [10]:
for name in years:
    print(name)

2005
2006
2007
2008
2009
2010

In [14]:
# anothter method with range

for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [13]:
range(5)

range(0, 5)

In [15]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [21]:
for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [22]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [28]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [31]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [37]:
languages=['Java',"JavaScript","C","C++","PHP","Android","Kotlin"]

for i in range(len(languages)):
    print("Before Language:",i,'is',languages[i])
    languages[i]="Rupali"
    print("After Language:",i,'is',languages[i])

Before Language: 0 is Java
After Language: 0 is Rupali
Before Language: 1 is JavaScript
After Language: 1 is Rupali
Before Language: 2 is C
After Language: 2 is Rupali
Before Language: 3 is C++
After Language: 3 is Rupali
Before Language: 4 is PHP
After Language: 4 is Rupali
Before Language: 5 is Android
After Language: 5 is Rupali
Before Language: 6 is Kotlin
After Language: 6 is Rupali

In [38]:
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [52]:
num=int(input("Enter any number:"))

for i in range(1,11):
    print('%dX%d=%d'%(num,i,num*i))

Enter any number: 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

In [56]:
list1=[10,20,30,40,50,60,70,80,90,100]
sum1=0

for i in list1:
    sum1+=i
print("Sum of total number:",sum1)
print("Average of list1:",sum1/len(list1))

Sum of total number: 550
Average of list1: 55.0

# for-else statement

In [66]:
for i in range(1,6):
    print(i,end=',')
else:
    print("These are numbers between 1 to 5.")

1,2,3,4,5,These are numbers between 1 to 5.

# break in for loop

In [70]:
# Take a list

nlis=[1,2,3,4,5,6,7,8,9,10]

for i in nlis:
    if i==5:
        break
    print(i)

1
2
3
4

# Continue in for loop

In [71]:
nlis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
for i in nlis:
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

# While loop

 * __The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical codition returns a False boolean value.__

In [4]:
i=22

while i<=27:
    print(i)
    i+=1

22
23
24
25
26
27

In [7]:
# Take an example

i=22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

In [8]:
# for loop table:
num=int(input("Enter any number:"))

for i in range(1,11):
    print('%dX%d=%d'%(num,i,num*i))

Enter any number: 13

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

In [9]:
num=int(input("Enter any number:"))

i=1

while i<11:
    print('%dX%d=%d'%(num,i,num*i))
    i+=1

Enter any number: 13

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

# While-else statement

In [14]:
x=0

while x<=5:
    print(x,end=',')
    x+=1
else:
    print('It gives us the number between 0 to 5')

0,1,2,3,4,5,It gives us the number between 0 to 5

# break in while loop

In [17]:
i=0
while i<=10:
    print(i)
    i+=1
    if i==5:
        break

0
1
2
3
4

# continue in while loop

In [20]:
i=0

while i<=10:
    print(i)
    i+=1
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9
10

In [21]:
# 1. Write a python program to calculate the sum of all numbers from 1 to 10.

sum1=0
for i in range(1,11):
    sum1+=i
print("Total sum:",sum1)

Total sum: 55

In [23]:
# 2. Write a python program to calculate the sum of all odd numbers within the given range 1 to 10.

sum2=0
for i in range(1,11,2):
    sum2+=i
    
print("Sum of all odd numbers:",sum2)

Sum of all odd numbers: 25

In [28]:
given_range=10
sum1=0
for i in range(given_range):
    if i%2!=0:
        sum1+=i
print(sum1)

25

In [29]:
# 3. Write a python program to print a multiplication table of given number is that 29.

x=29
for i in range(1,11):
    print('%dX%d=%d'%(x,i,x*i))

29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290

In [30]:
# 4. Write a python program to display numbers from the list using for loop.
# l1=[1,2,4,6,8,600,900,976]

l1=[1,2,4,6,8,600,900,976]
for i in l1:
    print(i)

1
2
4
6
8
600
900
976

In [31]:
# 5. Write a python program to display the number even or odd from the series of number.
# num_list=[1,3,5,7,8,200,210,212,576,890,790]

num_list=[1,3,5,7,8,200,210,212,576,890,790]
for i in num_list:
    if i%2==0:
        print("Number",i,"is even")
    else:
        print("Number",i,"is odd")

Number 1 is odd
Number 3 is odd
Number 5 is odd
Number 7 is odd
Number 8 is even
Number 200 is even
Number 210 is even
Number 212 is even
Number 576 is even
Number 890 is even
Number 790 is even

In [32]:
x=input("Enter string:")
count1=0
count2=0
for i in x:
    if i.isdigit():
        count1+=1
    else:
        count2+=1
print("digits:",count1)
print("letters:",count2)

Enter string: 123abc

digits: 3
letters: 3

In [37]:
# write a program to display all the prime numbers from 1 to 30.

for i in range(10,33):
    if i%2==0 or i%3==0 or i%5==0 or i%7==0:
        continue
    else:
        print(i)

11
13
17
19
23
29
31

In [40]:
# abc123

num=input("Enter a string")
digits=0
letters=0

for i in range(len(num)):

    if num[i].isnumeric()==True:
        digits+=1
    else:
        letters+=1
print('The string is:',num,'\nThe no. of digits are:',digits,'\nThe no. of letters are:',letters)

Enter a string apple1456

The string is: apple1456
The no. of digits are: 4
The no. of letters are: 5

In [42]:
# 8. Write a program to convert the month name to the number of days using for loop and display month name with total days.


month=["January","February","March","April","May","June",'July','August','September','October','November','December']
for i in month:
    if i=="February":
        print(i,"= 28/29 days" )
    elif i in ("April","June","September","November"):
        print(i,"= 30 days")
    elif i in ("January","March","May","July","August","October","December"):
        print(i,"= 31 days")
    else:
        print(i,'is not a valid month name.')

January = 31 days
February = 28/29 days
March = 31 days
April = 30 days
May = 31 days
June = 30 days
July = 31 days
August = 31 days
September = 30 days
October = 31 days
November = 30 days
December = 31 days

In [47]:
month = ["January","Febraury","March","April","May","June","July","August","September","October","November","December"]
 
for i in month:
    if i == "Febraury":
            print(i,"The month of February has 28/29 days")
    elif i in ("April", "June", "September", "November"):
            print("The month of",i,"has 30 days.")
    elif i in ("January", "March", "May", "July", "August", "October", "December"):
            print("The month of",i,"has 31 days.")
    else:
        print(i,"is not a valid month")

The month of January has 31 days.
Febraury The month of February has 28/29 days
The month of March has 31 days.
The month of April has 30 days.
The month of May has 31 days.
The month of June has 30 days.
The month of July has 31 days.
The month of August has 31 days.
The month of September has 30 days.
The month of October has 31 days.
The month of November has 30 days.
The month of December has 31 days.

In [1]:
# 3. Write the program to print first 10 intergers and their squares using while loop
i=1
while i <=10:
    print(i,"=",i*i)
    i+=1

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100

In [2]:
# 4. Write while loop statement to print the following serires:
# 10,20,30 ........300
i=10
while i<=300:
    print(i,end=",")
    i+=10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,

In [3]:
# 5. Write a program to print first 10 natural number in reverse order.
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [13]:
num1=input('Enter any numebr:\n')

l1=list(num1)
l=len(l1)
i=0
n={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:"Six",7:'Seven',8:'Eight',9:'Nine'}
while i<l:
    print(n[int(l1[i])],end=',')
    i=i+1

Enter any numebr:
 123

One,Two,Three,

In [17]:
num=int(input('Enter any number'))

remainder=0
sum1=0

while num>0:
    remainder=num%10
    sum1=sum1+remainder
    num=num//10
print('The total sum of the number is:',sum1)

Enter any number 1234

The total sum of the number is: 10

In [18]:
# Write a python program to print sum of the first 10 natural numebrs.

num=10
sum=0

while num>=1:
    sum=sum+num
    num=num-1
print(sum)

55

In [21]:
# 2,4,6,8,10,12,14,16,18,20

num1=2
sum1=0

while num1<=20:
    sum1=sum1+num1
    num1=num1+2
print(sum1)

110

In [24]:
#Write a program to accept 10 numbers from the user and display the largest and smallest number.

l=[]
i=0
while (i<10):
    num=int(input('Enter number:'))
    l.append(num)
    i=i+1
l.sort()
print("Largest number is:",l[-1])
print('Smallest number is:',l[0])

Enter number: 10
Enter number: 20
Enter number: 30
Enter number: 40
Enter number: 80
Enter number: 90
Enter number: 100
Enter number: 120
Enter number: 400
Enter number: 560

Largest number is: 560
Smallest number is: 10

In [26]:
# Write a Program to extract each digit from an integer in the reverse order.

n=input('Enter the number: ')

y=n[::-1]

k=''.join(y)
print(k)

Enter the number:  123

321

In [28]:
p=float(input('Principle amount:'))
r=float(input('Rate of interest: '))
t=int(input('Time period: '))

simple_interest=(p*r*t)/100
print(simple_interest)

total_amount=p+simple_interest
print("Total amount to pay will be:",total_amount)

Principle amount: 8000
Rate of interest:  12
Time period:  5

4800.0
Total amount to pay will be: 12800.0