# 9. Functions in Python

 * __In pyhton, a function is a group of related statements that performs a specific task.__
 * __Funcitons help break our program into smaller and modular chunks. * As our program grows larger and larger, functions make it more organized and manageable.__
 * __Furthermore, it avoids repetition and makes the code reusable.__
 * __There are two types of functions__
 * __Pre-defined functions__
 * __User-defined functions__
 * __In python, a functin is defined using def keyword followed by the function name and parentheses().__
 * __Keyword def that marks the start of the function header.__
 * __A function name to uniquely identify the function.__
 * __Function naming follows the same rule of writing identifiers in Python.__
 * __Parameters(arguments) through withc we pass values to a funciton. They are optional.__
 * __A colong(:) to mark the end of the function header.__
 * __Optional documentation string(docstring) to describe what the function does.__
 * __one or more valid python statements that make up the function body.__
 * __Statements must have the same indentation level(usually 4 spaces).__
 * __An optional return statement to return a value from the function.__

In [29]:
def process(x):
    y1=x+8
    y2=x-8
    y3=x/8
    y4=x%8
    print(f'If you make the above operations with {x}, the result will be {y1},{y2},{y3} and {y4}')
    return y1,y2,y3,y4
process(10)

If you make the above operations with 10, the result will be 18,2,1.25 and 2

(18, 2, 1.25, 2)

In [7]:
process(20)

If you make the above operations with 20, the result will be 28,12,2.5 and 4

(28, 12, 2.5, 4)

In [8]:
process(50)

If you make the above operations with 50, the result will be 58,42,6.25 and 2

(58, 42, 6.25, 2)

In [9]:
help(process)

Help on function process in module __main__:

process(x)

In [10]:
process(-10)

If you make the above operations with -10, the result will be -2,-18,-1.25 and 6

(-2, -18, -1.25, 6)

In [11]:
# passing multiple parameter with function

def multi(x,y):
    z=2*x+5*y+45
    return z

output=multi(3.14,1.618)
print(output)

59.370000000000005

In [12]:
a=multi(20,40)
print(a)

285

In [13]:
a1=multi(-10,10)
a1

75

In [18]:
abc=10
def function(x):
    y=10
    z=3*x+1.618*y

    z1=3*y
    return z,z1

var=function(5)
print(var)

(31.18, 30)

In [19]:
abc

10

In [21]:
def msg1():
    print('Hello world')


def msg2():
    print('Hello Python')
    return None
msg1()
msg2()

Hello world
Hello Python

In [22]:
print(msg1())

Hello world
None

In [23]:
print(msg2())

Hello Python
None

In [32]:
# Concatenation of two strings

def strings(x,y):
    return x+y


strings('Adnan ','Shaikh')

'Adnan Shaikh'

In [33]:
strings(20,30)

50

In [34]:
strings(12.56,50.23)

62.79

# Predefined function like print(),sum(),len(),min(),max(),input()

In [35]:
nums=[10,20,30,40,50,60]
sum(nums)

210

In [48]:
# Define a function adjusting the default value of the variable.

def rating_value(rating=5.5):
    if rating<8:
        return(f'You should not watch this movie with rating value of {rating}')
    else:
        return (f'You should watch this movie with rating value of {rating}')


#print(rating_value())
print(rating_value(10))

You should watch this movie with rating value of 10

In [52]:
def function(*args):  # (*) all

    print('Number of element is',len(args))


function(10,20,30,4,5,6,7,8,8,8,8,5)

Number of element is 12

In [53]:
def function(*args):
    print("Number of elements is:",len(args))
    for i in args:
        print(i)

function('Prajwal',"Adnan",'Rupali',"Akshay","Sharukh")

Number of elements is: 5
Prajwal
Adnan
Rupali
Akshay
Sharukh

In [54]:
def total(*args):
    total=0
    for i in args:
        total+=i
    return total

print("The total value is:",total(10,20,30,40,50,60,70,80,90,100))

The total value is: 550

In [56]:
# key : value


def dict1(**args):
    for i in args:
        print(i,':',args[i])

dict1(name='Aditya',age=10,contact=7894561233,email='adi@123gamil.com')

name : Aditya
age : 10
contact : 7894561233
email : adi@123gamil.com

In [61]:
# Define a function regarding the addition of elements into a list.


my_list=[]  #10,20,30,40,50  #sum,min,max,len

def addition(list1):
    list1.append(10)
    list1.append(20)
    list1.append(30)
    list1.append(40)
    list1.append(50)

addition(my_list)
print(my_list)
print(sum(my_list))
print(min(my_list))
print(max(my_list))
print(len(my_list))

[10, 20, 30, 40, 50]
150
10
50
5